/*.vehicle-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vehicle-form h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.vehicle-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.vehicle-form input[type="text"],
.vehicle-form input[type="number"],
.vehicle-form select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.vehicle-form input[type="file"] {
    margin-top: 10px;
}

.vehicle-form button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vehicle-form button[type="submit"]:hover {
    background-color: #0062cc;
}*/