.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-right {
    flex: 1;
    position: relative;
    z-index: 1;
}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}

.i-right>:nth-child(2) {
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}

.i-right>:nth-child(3) {
    transform: scale(1.4);
    left: 28%;
}