.property {
    position: relative;
    padding: 1px;
    flex-direction: column;
    flex: 100%;
    display: grid;
    place-items: center;
    z-index: 3;
    padding-right: 20em;
}


/*.center h3 {
    font-size: 42px;
    font-weight: 500;
    color: #001d38;
    font-family: 'Nuosu SIL', sans-serif;
}*/

.row {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.single-property {
    position: relative;
    width: 250px;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.column {
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    padding: 0px 0px 0px 0px;
}

.property-thumb {
    position: relative;
    overflow: hidden;
    object-fit: contain;
    width: 100%;
    height: 150px;
    ;
}

.property-tag {
    position: absolute;
    top: 4px;
    left: 15px;
    background: #f7d410;
    padding: 8px 14px;
    color: #fff;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}

.property-thumb img {
    width: 250px;
    vertical-align: middle;
    transition: .3s;
    object-fit: cover;
    max-width: 100%;
    height: 75%;
    padding-top: 5px;
}

.single-property:hover .property-thumb img {
    transform: scale(1.3);
}

.property-content {
    padding: 1px;
    border-bottom: 1px solid white;
}

.property-content h3 {
    margin-bottom: 1px;
    font-size: 14px;
    color: #001d38;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.mark span {
    font-size: 13px;
    font-weight: 400;
    color: #919191;
    margin-left: 5px;
    font-family: "Poppins", sans-serif;
}

.price {
    display: inline-block;
    background: #45d1e7;
    border-radius: 30px;
    padding: 5px 30px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    margin-top: 13px;
    font-family: "Poppins" sans-serif;
}

.property-footer {
    padding: 1px 5px;
}

.property-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property-footer ul li span {
    font-family: "Poppins" sans-serif;
    color: #001d38;
    font-size: 14px;
    font-weight: 400;
    margin-left: 3px;
}

.property-footer ul li img {
    width: 27px;
    height: 25px;
}

.more-property {
    padding-top: 3rem;
}

.more-property .property-btn {
    padding: 14px 31px;
    display: inline-block;
    border-radius: 2rem;
    font-size: 15px;
    border: 1px solid #fdae4c;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    color: #fdae5c;
    transition: .5s ease;
}

.more-property.property-btn:hover {
    box-shadow: 0 0 40px 40px #fdae5c inset;
    color: white;
}